.order-service-form {
  padding: 40px;
}

.form-group {
  margin-bottom: 10px;
  position: relative;
  margin-top: 4px;
}

.order-service-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15px;
  text-align: center;
  color: var(--main-text-color);
  margin: 0;
  margin-bottom: 12px;
}

.order-service-form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: var(--auxiliary-text-color);
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  transition: fill var(--animation);
}

.order-service-form__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding: 0 42px;
  transition: border-color var(--animation);

  &:focus + .modal__icon,
  &:not(:placeholder-shown) + .modal__icon {
    fill: var(--accent-text-color);
  }

  &:not(:placeholder-shown) {
    border-color: var(--accent-text-color);
  }

  &:focus {
    outline: none;
    border-color: var(--accent-text-color);
  }
}

.order-service-form__feedback {
  width: 100%;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px 0;
  transition: border-color var(--animation);

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  &:not(:placeholder-shown) {
    border-color: var(--accent-text-color);
  }

  &:focus {
    outline: none;
    border-color: var(--accent-text-color);
  }
}

.submit-button {
  background-color: var(--accent-text-color);
  color: var(--main-bg-color);
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 55px;
  margin-top: 30px;
  display: flex;
  margin-right: auto;
  margin-left: auto;

  &:focus,
  &:hover {
    background-color: var(--auxiliary-bg-color);
    color: var(--main-text-color);
  }
}
