.mobile-menu--button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  position: relative;
  top: 0;
  right: 0;
  z-index: 105;
  display: block;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover .contacts__icon--phone,
  &:focus .contacts__icon--phone {
    fill: var(--accent-text-color);
  }

  & .contacts__icon--phone {
    transition: fill var(--animation);
  }
}

.icon-close {
  display: none;
}

.is-open {
  .icon-close {
    display: block;
  }

  .icon-menu {
    display: none;
  }
}

.contacts__icon--phone {
  width: 40px;
  height: 40px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  z-index: 100;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 48px 83px 48px 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  transition: right 0.5s;

  &.is-open {
    right: 0;
  }
}

.mobile-menu--flexbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu .navigation__list {
  flex-direction: column;
  padding: 0;
}

.mobile-menu .navigation__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu .navigation__link {
  font-size: 40px;
  line-height: 1.18;

  @media screen and (max-width: 400px) {
    font-size: 35px;
  }

  @media screen and (max-width: 350px) {
    font-size: 30px;
  }

  @media screen and (max-width: 300px) {
    font-size: 25px;
  }
}

.mobile-menu .navigation__link--blue-color {
  color: var(--accent-text-color);
}

.mobile-menu .contacts {
  padding: 0;
  flex-direction: column-reverse;
}

.mobile-menu .contacts__link--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
  margin-bottom: 32px;

  @media screen and (max-width: 400px) {
    font-size: 35px;
  }

  @media screen and (max-width: 350px) {
    font-size: 30px;
  }

  @media screen and (max-width: 300px) {
    font-size: 25px;
  }
}

.mobile-menu .contacts__link--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--auxiliary-text-color);
}

.mobile-menu__social-list {
  display: flex;
  justify-content: start;
  margin-top: 64px;
  list-style: none;
  padding: 0;
}

.mobile-menu__social-item:not(:first-child)::before {
  content: "";
  width: 22px;
  height: 0px;
  left: 135px;
  top: 726px;
  margin-left: 10px;
  margin-right: 10px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
  text-decoration: none;

  @media screen and (max-width: 400px) {
    font-size: 15px;
  }

  @media screen and (max-width: 350px) {
    font-size: 12px;
  }

  @media screen and (max-width: 300px) {
    font-size: 8px;
  }
}
