.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  transition: opacity 500ms ease-out 200ms;
}

.modal__backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  max-width: 528px;
  min-height: 581px;
  background: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 300ms ease-out 1ms;
}

.is-hidden .modal {
  transform: translate(100%, 100%) scale(0.2);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: var(--main-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: border-color var(--animation);

  &:hover,
  &:focus {
    outline: none;
    border-color: var(--accent-text-color);
  }

  &:hover .modal__icon_exit,
  &:focus .modal__icon_exit {
    fill: var(--accent-text-color);
  }
}

.modal__close-button .modal__icon_exit {
  width: 18px;
  height: 18px;
  transition: fill var(--animation);
}
