.product__link {
  display: inline-block;
  cursor: pointer;
  transition: box-shadow var(--animation);
  text-decoration: none;

  &:hover,
  &:focus {
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .product__description,
  &:focus .product__description {
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 1;
    transform: translate(0, 0);
  }
}

.thumb--overfolw-hidden {
  overflow: hidden;
}

.product__description {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 100%);
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transition: transform var(--animation), opacity var(--animation), background-color var(--animation);
}

.product__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--main-bg-color);
  margin: 0;
}

.product__meta {
  background-color: var(--main-bg-color);
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.product__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin: 0;
}

.product__field {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  margin: 0;
  margin-top: 4px;
  color: var(--auxiliary-text-color);
}
