:root {
  --main-text-color: #212121;
  --auxiliary-text-color: #757575;
  --accent-text-color: #2196f3;
  --main-bg-color: #ffffff;
  --auxiliary-bg-color: #f5f4fa;
  --main-bg-section-color: #2f303a;
  --main-icon-color: #afb1b8;

  --logo-font: "Raleway", sans-serif;
  --main-text-font: "Roboto", sans-serif;

  --grid-item: 3;

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
