.our-team {
  background-color: var(--auxiliary-bg-color);
  padding-top: 94px;
}

.our-team__title {
  margin-bottom: 50px;
}

.our-team__grid-item {
   --grid-item: 4;
}

.our-team__item {
  background: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member__meta {
  padding-bottom: 30px;
  padding-top: 30px;
}

.team-member__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  padding-bottom: 10px;
  margin: 0;
}

.team-member__profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--auxiliary-text-color);
  padding-bottom: 16px;
  margin: 0;
}

.our-team__socials {
  justify-content: center;
}